<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>All.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>BinaryOpUGens.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
		<key>ChaosUGens.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>DelayUGens.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>41</integer>
		</dict>
		<key>DemandUGens.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>31</integer>
		</dict>
		<key>DiskIOUGens.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>DynNoiseUGens.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>FFT2_UGens.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>FFT_UGens.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>40</integer>
		</dict>
		<key>FilterUGens.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>GendynUGens.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>39</integer>
		</dict>
		<key>GrainUGens.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>37</integer>
		</dict>
		<key>IOUGens.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>KeyboardUGens.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>LFUGens.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>MachineListening.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>MouseUGens.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>32</integer>
		</dict>
		<key>MulAddUGens.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>34</integer>
		</dict>
		<key>NoiseUGens.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>OSCUGens.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>PanUGens.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>PhysicalModellingUGens.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>ReverbUGens.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>TestUGens.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>TriggerUGens.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>33</integer>
		</dict>
		<key>UnaryOpUGens.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>UnpackFFTUGens.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>37E291900E2CEBE400CB854E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>468DABDD0CF1FE1800FA8C88</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>940E424D0B45B6D0002DADC8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>949318940C192F040018AB50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>949318BA0C1931070018AB50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>949318D00C19310F0018AB50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>949318DB0C1931110018AB50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>949318E60C1931120018AB50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>949318F10C1931130018AB50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>949318FC0C1931150018AB50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>949319070C1931160018AB50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>949319120C1931180018AB50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9493191D0C19311A0018AB50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>949319280C19311C0018AB50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>949319330C19311E0018AB50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9493193E0C1931260018AB50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>949319490C1931280018AB50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>949319740C1931A30018AB50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9493197F0C1931A40018AB50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9493198A0C1931A50018AB50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>949319950C1931A60018AB50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>949319A00C1931A70018AB50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>949319AB0C1931A80018AB50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC43F0880CB26A670020E8B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F3F479100D03BCB0001A470F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F3F4791C0D03BCDB001A470F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE2582C40C2C096A00307453</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
